@import 'utils/fonts.scss';
@import 'utils/reset.scss';
@import 'utils/vars.scss';

html{
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (min-width: $tableWidth) and (max-width: $desktopWidth){
    font-size: 16px;
  }
  @media screen and (min-width: $phoneWidth) and (max-width: $tableWidth){
    font-size: 15px;
  }
  @media screen and (min-width: $smPhoneWidth) and (max-width: $phoneWidth){
    font-size: 14px;
  }
}

body{
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  //сглаживание шрифтов+
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //сглаживание шрифтов (safari)-
}

section,
.section{
  position: relative;
  padding: 40px 0;
  @media screen and (min-width: $tableWidth) and (max-width: $smDesktopWidth){
    padding: 36px 0;
  }
  @media screen and (min-width: $phoneWidth) and (max-width: $tableWidth){
    padding: 28px 0;
  }
  @media screen and (min-width: $smPhoneWidth) and (max-width: $phoneWidth){
    padding: 20px 0;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vh;
  background-color: #2b3a42;
}