block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
  body(class=pageClass)
    wrapper
      //vue
      #app 
        include ../includes/modules/header
        .contant-wrapper
          block content
        include ../includes/modules/footer